th, td, label{
    color: #fff;
}
body {
    background: url('./Assets/bgImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    background-color: rgba(0, 0, 0, 0.55);
}

.display-menu{
    height: 91vh;
}